.App {
  text-align: center;
}

/* ----APP Header --- */
.App-header {
  background-color: #e98a1594;
  color: rgb(255, 249, 249);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
}
.header_title {
  color: rgb(255, 255, 255);
}
.header-logo {
  overflow: auto;
  float: left;
  width: auto;
  height: 70px;
  border-radius: 50%;
}

/* --- TOPIC LINKS --- */
.header_topic_navlink {
  align-items: center;
  border: 1px solid rgba(221, 109, 34, 0.822);
  border-radius: 10px;
  padding: 5px;
  color: rgba(53, 51, 51, 0.63);
}

/* ----ALL ARTICLES ----- */
.homepage_article_list {
  border: 10px solid #a39f9b21;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 50px;
}
/* ---ALL LINKS--- */
a:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.911);
}
a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.322);
}

/* ----ALL ARTICLE CARDS --- */
.articles_CardArticle {
  border: 1px solid rgb(158, 147, 147);
  padding: 10px;
  box-shadow: 4px 8px #8888883a;
}
/*------ ARTICLE COMMENTS-----*/
.single_Article_comments {
  border: 1px solid rgb(158, 147, 147);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px #8888888e;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ebe4e628;
}

/* -- WEBSITE VIEW GRID -- */
/* .homepage_article_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.articlelist_singleArticle {
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

.header_title {
  text-align: center;
}

.singleArticle_topic {
  margin-top: 0;
} */
