.App {
  text-align: center;
}

/* ----APP Header --- */
.App-header {
  background-color: #e98a1594;
  color: rgb(255, 249, 249);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
}
.header_title {
  color: rgb(255, 255, 255);
}
.header-logo {
  overflow: auto;
  float: left;
  width: auto;
  border-radius: 50px;
}

/* --- TOPIC LINKS --- */
.header_topic_navlink {
  align-items: center;
  border: 1px solid rgba(221, 109, 34, 0.822);
  border-radius: 10px;
  padding: 5px;
  color: rgba(53, 51, 51, 0.63);
}

/* ----ALL ARTICLES ----- */
.homepage_article_list {
  border: 10px solid #e98a1544;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 50px;
}

/* -- WEBSITE VIEW GRID -- */
/* .homepage_article_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.articlelist_singleArticle {
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
}

.header_title {
  text-align: center;
}

.singleArticle_topic {
  margin-top: 0;
} */
